<footer>
    <div class="col">
        <div class="enlaces">
            <div class="titulo">
                <h4>Nosotros</h4>
            </div>
            <ul>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Comunidad</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
        <div class="enlaces">
            <div class="titulo">
                <h4>Productos</h4>
            </div>
            <ul>
                <li><a href="#">Exchange</a></li>
                <li><a href="#">Trading</a></li>
                <li><a href="#">Crypto Card</a></li>
                <li><a href="#">Crypto Wallet</a></li>
            </ul>
        </div>
        <div class="enlaces">
            <div class="titulo">
                <h4>información</h4>
            </div>
            <ul>
                <li><a href="#">Centro de Ayuda</a></li>
                <li><a href="#">Danos tu opinión</a></li>
                <li><a href="#">Comisiones</a></li>
                <li><a href="#">Reglas de Trading</a></li>
            </ul>
        </div>
        <div class="redesSociales">
            <a href="#" class="logo">Crypto</a>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Saúl Gutiérrez - Todos los derechos reservados</p>
    </div>

    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</footer>